/*
 * Copyright (c) 2023, Benjamin Cabé <benjamin@zephyrproject.org>
 * SPDX-License-Identifier: Apache-2.0
 */

#include <dt-bindings/pinctrl/samd51p-pinctrl.h>

&pinctrl {
	sercom1_uart_default: sercom1_uart_default {
		group1 {
			pinmux = <PC23C_SERCOM1_PAD1>,
				 <PC22C_SERCOM1_PAD0>;
		};
	};

	sercom2_uart_default: sercom2_uart_default {
		group1 {
			pinmux = <PB27C_SERCOM2_PAD1>,
				 <PB26C_SERCOM2_PAD0>;
		};
	};

	sercom3_i2c_default: sercom3_i2c_default {
		group1 {
			pinmux = <PA16D_SERCOM3_PAD1>,
				 <PA17D_SERCOM3_PAD0>;
		};
	};
	
	sercom4_i2c_default: sercom4_i2c_default {
		group1 {
			pinmux = <PA12D_SERCOM4_PAD1>,
				 <PA13D_SERCOM4_PAD0>;
		};
	};
	
	sercom7_spi_default: sercom7_spi_default {
		group1 {
			pinmux = <PB18D_SERCOM7_PAD2>,	// MISO
				 <PB19D_SERCOM7_PAD3>,		// MOSI
				 <PB20D_SERCOM7_PAD1>,		// SCK	
				 <PB21D_SERCOM7_PAD0>;		// SS
		};
	};

	usb_dc_default: usb_dc_default {
		group1 {
			pinmux = <PA25H_USB_DP>,
				 <PA24H_USB_DM>;
		};
	};

};
