name: Pull Request Assigner

on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened
    - ready_for_review
    branches:
    - main
    - collab-*
    - v*-branch
  issues:
    types:
    - labeled

jobs:
  assignment:
    name: Pull Request Assignment
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-22.04

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
      with:
        egress-policy: audit

    - name: Install Python dependencies
      run: |
        sudo pip3 install -U setuptools wheel pip
        pip3 install -U PyGithub>=1.55 west

    - name: Check out source code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Run assignment script
      env:
        GITHUB_TOKEN: ${{ secrets.ZB_GITHUB_TOKEN }}
      run: |
        FLAGS="-v"
        FLAGS+=" -o ${{ github.event.repository.owner.login }}"
        FLAGS+=" -r ${{ github.event.repository.name }}"
        FLAGS+=" -M MAINTAINERS.yml"
        if [ "${{ github.event_name }}" = "pull_request_target" ]; then
            FLAGS+=" -P ${{ github.event.pull_request.number }}"
        elif [ "${{ github.event_name }}" = "issues" ]; then
            FLAGS+=" -I ${{ github.event.issue.number }}"
        elif [ "${{ github.event_name }}" = "schedule" ]; then
            FLAGS+=" --modules"
        else
          echo "Unknown event: ${{ github.event_name }}"
          exit 1
        fi

        python3 scripts/set_assignees.py $FLAGS
